@model LightWeb.Models.ColorModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ColorModel</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Red</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Red)
    </div>

    <div class="display-label">Green</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Green)
    </div>

    <div class="display-label">Blue</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Blue)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
