@section style
{    
    @Content.Style("colorpicker/css/colorpicker.css", Url)
@*    @Content.Style("colorpicker/css/layout.css", Url)
*@}

@section scripts
{
    @Content.Script("Content/colorpicker/js/colorpicker.js", Url)
    @Content.Script("Content/colorpicker/js/eye.js", Url)
    @Content.Script("Content/colorpicker/js/utils.js", Url)
    @Content.Script("Content/colorpicker/js/layout.js?ver=1.0.2", Url)
    @Content.Script("Scripts/colorpickerutil.js", Url)
}

<style type="text/css">
#box
{
	width: 200px;
	height: 200px; 
	background: red;
}
</style>

<h2>Room Color</h2>
<p>
Here we have our color picker.
</p>

<div id="colorpickerHolder"></div>

<a>Fade</a>

<!--
<p id="colorpickerHolder" style="text-align:center" data-colorpick="@Url.Action("ColorPick", "Home")"></p>
-->
